[Unit]
Description=Religa a consulta remota a cada 15 min se o servico tiver falhado

[Timer]
OnCalendar=*:0/15
Persistent=false
Unit=reforma-consulta.service

[Install]
WantedBy=timers.target
